<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ryochin.qittaro" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.ryochin.qittaro.utils.AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Qittaroactionbar" >
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.ryochin.qittaro.activities.LoginActivity"
            android:label="@string/login_activity_label"
            />
        <activity android:name="com.ryochin.qittaro.activities.ArticleDetailActivity"
            android:label="@string/app_name"
            />
    </application>

</manifest>
